<section class="feature-area" id="amenities">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h1>Amenities</h1>
          <p>
            SVBHS has all the facilities that can help your little one to thrive
            the real world. With Special focus on your kid we can mould him in
            to a responsible citizen
          </p>
        </div>
      </div>
    </div>
    <div class="feature-inner row">
      <div class="col-lg-4 col-md-6">
        <div class="feature-item">
          <i class="fa fa-book" aria-hidden="true"></i>
          <h4>Library</h4>
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
            <p>
              Spacious school library stocked with periodicals, newspapers and
              an impressive index of titles, covering both fiction and
              non-fiction.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="feature-item">
          <i class="fa fa-futbol-o" aria-hidden="true"></i>
          <h4>Play Ground</h4>
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
            <p>
              To encourage student interest in programmes of physical education,
              a range of sports facilities are available that include indoor and
              outdoor sports facilities
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="feature-item">
          <i class="fa fa-desktop" aria-hidden="true"></i>
          <h4>Computer Center</h4>
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
            <p>
              A well equipped computer centre to enable technology to make
              teaching and learning meaningful and fun.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="feature-item">
          <i class="fa fa-paint-brush" aria-hidden="true"></i>
          <h4>Art & Craft</h4>
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".1s">
            <p>
              The school possesses a specialized creative Art Room with where
              students are encouraged to explore their creative talents and
              showcase their creative expressions.
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="feature-item">
          <i class="fa fa-music" aria-hidden="true"></i>
          <h4>Extra-Cirriculars</h4>
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".3s">
            <p>
              Various activities like the well-equipped music room, drawing room
              and multi-purpose hall for cultural activities
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="feature-item">
          <i class="fa fa-bus" aria-hidden="true"></i>
          <h4>Transport Facilities</h4>
          <div class="wow fadeIn" data-wow-duration="1s" data-wow-delay=".5s">
            <p>
              Transportation services are available from nearby areas for the
              convenience of students as well the teachers.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
