<section class="faculty-area section-gap" id="founders">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="section-title text-center">
          <h1>Founding Members</h1>
        </div>
      </div>
    </div>
    <div class="row justify-content-center d-flex align-items-center">
      <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
        <div class="thumb d-flex justify-content-center">
          <img class="img-fluid" src="img/founders/2.png" alt="" />
        </div>
        <div class="meta-text text-center">
          <h4>Late Shri. Venkata Balramaiah garu</h4>
          <!-- <p class="designation">Sr. Faculty Data Science</p> -->
          <!-- <div
            class="info wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay=".1s"
          >
            <p>
              If you are looking at blank cassettes on the web, you may be very
              confused at the difference in price.
            </p>
          </div> -->
          <!-- <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div> -->
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
        <div class="thumb d-flex justify-content-center">
          <img class="img-fluid" src="img/founders/3.png" alt="" />
        </div>
        <div class="meta-text text-center">
          <h4>Late Smt. Sarojamma Garu</h4>
          <!-- <p class="designation">Sr. Faculty Data Science</p> -->
          <!-- <div
            class="info wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay=".3s"
          >
            <p>
              If you are looking at blank cassettes on the web, you may be very
              confused at the difference in price.
            </p>
          </div>
          <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div> -->
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
        <div class="thumb d-flex justify-content-center">
          <img class="img-fluid" src="img/founders/4.png" alt="" />
        </div>
        <div class="meta-text text-center">
          <h4>Shri. Samala Tirupathaih Garu</h4>
          <!-- <p class="designation">Sr. Faculty Data Science</p>
          <div
            class="info wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay=".5s"
          >
            <p>
              If you are looking at blank cassettes on the web, you may be very
              confused at the difference in price.
            </p>
          </div>
          <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div> -->
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-12 single-faculty">
        <div class="thumb d-flex justify-content-center">
          <img class="img-fluid" src="img/founders/1.png" alt="" />
        </div>
        <div class="meta-text text-center">
          <h4>Smt. Samala Bharathamma Garu</h4>
          <!-- <p class="designation">Sr. Faculty Data Science</p>
          <div
            class="info wow fadeIn"
            data-wow-duration="1s"
            data-wow-delay=".7s"
          >
            <p>
              If you are looking at blank cassettes on the web, you may be very
              confused at the difference in price.
            </p>
          </div>
          <div class="align-items-center justify-content-center d-flex">
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a>
          </div> -->
        </div>
      </div>
    </div>
  </div>
</section>
