<section id="gallery" class="gallery">
  <div class="section-title text-center">
    <h1>Gallery</h1>
    <p>SVBHS students performing various activities in the premises</p>
  </div>

  <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
    <div class="row no-gutters">
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="img/gallery/3.jpg" class="venobox" data-gall="gallery-item">
            <img src="img/gallery/3.jpg" alt="" class="img-fluid" />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="img/gallery/4.jpg" class="venobox" data-gall="gallery-item">
            <img src="img/gallery/4.jpg" alt="" class="img-fluid" />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="img/gallery/5.jpg" class="venobox" data-gall="gallery-item">
            <img src="img/gallery/5.jpg" alt="" class="img-fluid" />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="img/gallery/6.jpg" class="venobox" data-gall="gallery-item">
            <img src="img/gallery/6.jpg" alt="" class="img-fluid" />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="img/gallery/7.jpg" class="venobox" data-gall="gallery-item">
            <img src="img/gallery/7.jpg" alt="" class="img-fluid" />
          </a>
        </div>
      </div>

      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="img/gallery/8.jpg" class="venobox" data-gall="gallery-item">
            <img src="img/gallery/8.jpg" alt="" class="img-fluid" />
          </a>
        </div>
      </div>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a href="img/gallery/9.jpg" class="venobox" data-gall="gallery-item">
            <img src="img/gallery/9.jpg" alt="" class="img-fluid" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
