<section id="gallery" class="gallery">
  <div class="section-title text-center">
    <h1>Gallery</h1>
    <p>SVBHS students performing various activities in the premises</p>
  </div>

  <div class="container-fluid" data-aos="fade-up" data-aos-delay="100">
    <div class="row no-gutters">
      <% for( let index = 3; index < 39; index++ ) { %>
      <div class="col-lg-3 col-md-4">
        <div class="gallery-item">
          <a
            href="img/gallery/<%= index %>.jpg"
            class="venobox"
            data-gall="gallery-item"
          >
            <img
              class="cat__img lazy img-fluid"
              src="https://cdn.glitch.com/3a5b333c-942b-4088-9930-e7ea1e516118%2Fplaceholder.png?v=1560442648212"
              data-src="img/gallery/<%= index %>.jpg"
              alt="gallery"
            />
            <noscript>
              <img
                class="cat__img img-fluid"
                src="img/gallery/<%= index %>.jpg"
                alt="gallery"
              />
            </noscript>
          </a>
        </div>
      </div>
      <% } %>
    </div>
  </div>
</section>
