<head>
  <!-- Mobile Specific Meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="title" content="SRI VENKATA BALRAMAIAH HIGH SCHOOL">
  <meta name="description" content="SRI VENKATA BALRAMAIAH HIGH SCHOOL">
  <meta name="keywords" content="svbhs, school, urukonda">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">
  <meta name="author" content="techpranee">
  <!-- meta character set -->
  <meta charset="UTF-8" />
  <!-- Site Title -->
  <title>SRI VENKATA BALRAMAIAH HIGH SCHOOL</title>

  <link href="https://fonts.googleapis.com/css?family=Montserrat:300,500,600" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500i" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/themify-icons/0.1.2/css/themify-icons.css" rel="preload" as="style"
    onload="this.rel='stylesheet'" />

  <link rel="stylesheet" href="css/bootstrap.css" />
  <link rel="stylesheet" href="css/main.css" />
  <link href="css/linearicons.css" rel="preload" as="style" onload="this.rel='stylesheet'" />
  <link href="css/font-awesome.min.css" rel="preload" as="style" onload="this.rel='stylesheet'" />
  <link href="css/magnific-popup.css" rel="preload" as="style" onload="this.rel='stylesheet'" />
  <link href="css/nice-select.css" rel="preload" as="style" onload="this.rel='stylesheet'" />
  <link href="css/animate.min.css" rel="preload" as="style" onload="this.rel='stylesheet'" />
  <link href="css/venobox.css" rel="preload" as="style" onload="this.rel='stylesheet'" />
  <link href="css/owl.carousel.css" rel="preload" as="style" onload="this.rel='stylesheet'" />
</head>