<section class="home-banner-area relative" id="home">
  <div class="container">
    <div class="row fullscreen d-flex align-items-center justify-content-center">
      <div class="banner-content col-lg-8 col-md-12">
        <h1 class="wow fadeIn" data-wow-duration="2s">
          SRI VENKATA BALRAMAIAH HIGH SCHOOL
        </h1>
        <p class="text-white" style="margin-top: 80px">
          The Mission of SVBHS is quality education at all spheres and
          preparation of a generation that's confident, courageous and capable
          of attaining success.
        </p>

        <!-- <div class="input-wrap">
          <form action="" class="form-box d-flex justify-content-between">
            <input type="text" placeholder="Search Courses" class="form-control" name="username" />
            <button type="submit" class="btn search-btn">Search</button>
          </form>
        </div> -->
        <button class="primary-btn login" type="button" style="margin-top:40px" data-toggle="modal"
          data-target="#exampleModal">Student Login</button>
      </div>
    </div>
  </div>
  <div class="rocket-img">
    <img src="img/rocket.png" alt="" />
  </div>
</section>